<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Glenn</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Morbi risus turpis, egestas imperdiet eros non, maximus venenatis lacus.
		Duis pellentesque lectus a consectetur imperdiet. Nam at nisi velit.
		Nunc in elementum diam. Praesent sit amet lobortis sem. Etiam id blandit lacus.
		Nullam ullamcorper nibh eget lectus facilisis aliquet. Cras eget mauris euismod,
		gravida orci vel, suscipit risusconsectetur imperdiet. Nam at nisi velit.
		Duis pellentesque lectus a consectetur imperdiet. Nam at nisi velit.
		Nunc in elementum diam. Praesent sit amet lobortis sem. Etiam id blandit lacus.
		Nullam ullamcorper nibh eget lectus facilisis aliquet. Cras eget mauris euismod,
		gravida orci vel, suscipit risus.</p>
	</div>
</div>


